@import "tailwindcss";

@source "../../slices";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-secondary: var(--font-roboto);
  --font-primary: var(--font-montserrat);
}

@theme {
  /*Colores de texto*/
  --color-night: #003366;

  /*Tamaño de fuente*/
  --text-md: 1 rem;

  /*Lineas separadoras*/
}

.shadow-super-strong {
  box-shadow: 0 35px 70px -12px rgba(0, 0, 0, 0.4),
    0 35px 35px -5px rgba(0, 0, 0, 0.2),
    0 10px 20px -5px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}