
@import "tailwindcss";

@source "../../slices";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline{
  --font-secondary: var(--font-roboto);
  --font-primary: var(--font-montserrat);
}

@theme{
  --color-night: #003366;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
